@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  border-radius: 48px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 48px;
  background: #a1a1aa;
}
